<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <% if user.image? %>
    <img src='<%= user.image %>' class="icon" alt="ユーザーアイコン">
  <% else %>
    <image src="/assets/how_to1.jpg" class="image" alt="ユーザーアイコン" %>
  <% end %>
  <a href="/users/<%= user.id %>"><%= user.email %></a>
  <hr>
<% end %>
<%= link_to "ホームへ戻る", posts_path %>